<div class='navbar header navbar_dictionary'>
  <div class='nav navbar-brand'><a href="<%=definitions_path%>"><%= image_tag "icon_rails.png" %></a></div>
  <ul>
    <li><%= link_to 'Add a word', new_definition_path %></li>
  </ul>
</div>
<div class='container'>
  <h1>New Definition</h1>

  <%= render 'form' %>

</div>
