<div class='navbar header navbar_dictionary'>
  <a href="<%=definitions_path%>" class='nav navbar-brand'><%= image_tag "icon_rails.png" %></a>
  <ul>
    <li><%= link_to 'Add a word', new_definition_path %></li>
  </ul>
</div>
<div class='container'>
  <h1>New Definition</h1>

  <%= render 'form' %>

</div>
